@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;400;700&display=swap");
@import "tailwindcss";

@theme {
  --font-roboto: "Roboto", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-roboto);
    font-weight: 300;
  }
}
